/*  your css code here. If applicable */
body {
    background-color: #f8f8f8;
  
}

.book-library {
    background-color: #ffffff;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.book {
    width: 180px;
    text-align: center;
    background: #ffffff;
    padding: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.book img {
    width: 100%;
    height: auto;
}

.author {
    color: #777777;

}

.price-block {
    color: #2ecc71;
}
